*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
}
div.titulo {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    font-family: 'Playfair Display', sans-serif;
}

h1.muebles {
    padding-left: 10px;
    color: #1371b9;
}

div.menu {
    width: auto;
    border-top: 0.1rem solid rgb(175, 175, 175);
}

nav {
    width: auto;
}

nav.menu_nav ul {
    list-style: none;
    display: flex;
    width: 100%;
}

nav ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    width: 100%;
}

.menu_nav a {
    text-decoration: none;
    color: dimgray;
    display: block;
    padding: 20px;
}

.fondo {
    background-image: url(./img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 35rem;
}

section.clases_categoria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 3rem;
    padding-right: 3rem;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    font-size: 35px;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: 900;
}

div.categoria {
    padding-bottom: 1rem;
    margin: 10px;
}
.categoria img{
    width: 100%;
}
img{
    display: block;
}
div.categoria a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: .4s ease-in;
    border-bottom-right-radius: 1rem;
}
.categoria a:hover{
    background-color: #1371b9;
    border-bottom-right-radius: 1rem;
    color: #ffffff;
    transition: .4s ease-out;
}
.nosotros{
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(./img/nosotros.jpg);
    background-position: left center;
    padding: 10rem 0;
    background-size: 100%, 80rem;
}
.contenido_nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    column-gap: 10rem;
}
.texto {
    grid-column: 2 / 3;
}

div.contenido_nosotros div.texto h2 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;
}

div.contenido_nosotros div.texto p {
    width: 70%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
.contenido_prod{
    padding-top: 2rem;
     display: block;
}
div.productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    padding: 0 3rem 0 3rem;
}

div.producto {
    background-color: #037bc0;
    margin-bottom: 0;
}
.producto:nth-child(1){
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-start: 1;
    grid-column-end: 7;
}
.producto:nth-child(1) img{
    height: 35rem;
    width: 100%;
    object-fit: cover
}
.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}
.producto:nth-child(2) img{
    height: 25rem;
    width: 100%;
    object-fit: cover
}
.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}
.producto:nth-child(3) img{
    height: 25rem;
    width: 100%;
    object-fit: cover
}
.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}
.producto:nth-child(4) img{
    height: 20rem;
    width: 100%;
    object-fit: cover
}
.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}
.producto:nth-child(5) img{
    height: 20rem;
    width: 100%;
    object-fit: cover
}
.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}
.producto:nth-child(6) img{
    height: 20rem;
    width: 100%;
    object-fit: cover
}

.texto_prod{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.btn_carro{
    width: 90%;
}
.texto_prod button {
    background-color: #8cbc00;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    cursor: pointer;
    transition: .4s ease-in;
}
.texto_prod button:hover{
    background-color: #709601;
    transition: .4s ease-out;
}
.texto_prod h2 {
    font-family: 'Playfair Display', serif;
    color: white;
    margin: 0;
    width: 100%;
    font-weight: 900;
}
.texto_prod p{
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.texto_prod h3{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.menu_footer a {
    text-decoration: none;
    color: dimgray;
    display: block;
    padding: 20px;
}
.footer {
    margin-top: 5rem;
    padding-top: 3rem;
    border-top: 0.1rem solid rgb(175, 175, 175);
}

.pie {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap: 10px;
}

.pie .categorias_footer {
    display: flex;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pie div.nosotros_footer {
    display: flex;
    flex-direction: column;
}

.pie div.soporte_footer {
    display: flex;
    flex-direction: column;
}

.pie h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1rem;
    font-size: 30px;
}
.menu_footer{
    padding-top: 1rem;
    line-height: 0rem;
}
.pie nav.menu_footer a {
    text-decoration: none;
    color: dimgray;
}
.derechos{
    font-size: 0.8rem;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre_nosotros h2{
    margin-bottom: 2rem;
    font-size: 2.6rem;
}
.contenido_nosotros_pantalla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;

}
.contenido_nosotros_pantalla .img_nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_nosotros img{
    width: 600px;
    height: auto;
}
.texto_nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}
.texto_nosotros p{
    padding-top: 2rem;
}

.contenido_prod .titulo{
    margin-bottom: 2rem;
    font-size: 2.6rem;
}
.blog .titulo{
    font-size: 3rem;
}
.blog1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.izquierda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
}
.informacion .img_blog{
    width: 800px;
}
.izquierda img{
    width: 800px;
}

.derecha{
    padding-left: 2rem;
}
.derecha .texto_derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.derecha .texto_derecha ul{
    padding-left: 3rem;
}
.texto_completo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 80%;
    padding-top: 2rem;
}
.informacion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 0.7rem;
}
.informacion div{
    display: flex;
}
.informacion div h4{
    padding-right: .5rem;
}
.texto1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: rgb(104, 104, 104);
    padding-left: 0.7rem;
}
.btn_leer{
    width: 300px;
    padding-left: 0.7rem;
}
.btn_leer button{
    width: 100%;
    background-color: #8cbc00;
    border: none;
    display: block;
    padding: 1rem;
    color: #ffffff;
    font-weight: 900;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: .4s ease-in;
}
.btn_leer button:hover{
    background-color: #709601;
    transition: .4s ease-out;
}
div.linea{
    margin-left: 2rem;
    margin-top: 25px;
    border-top: 0.2rem solid rgb(197, 197, 197);
    width: 50rem;
}

.informacion span{
    color: #1371b9;
    font-weight: bold;
    margin-left: 10px;
}


.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2rem;
}
div.galeria img{
    width: 400px;
    height: 400px;
}
.galeria .gal{
    display: flex;
    padding-bottom: 2rem;
}



div.contacto{
    display: block;
    align-items: center;
    justify-content: center;
}
.form{
    max-width: 30rem;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
.form fieldset{
    border: 1px solid black;
    margin-bottom: 2rem;
}
fieldset{
    padding: 0.35em 0.75em 0.625em;
}
.form legend{
    background-color: #037bc0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1rem;
    margin-bottom: 4rem;
}
legend{
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    white-space: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
section .contacto .titulo{
    font-size: 3rem;
}
.formulario{
    display: flex;
    margin-bottom: 20px;
}
.formulario label{
    flex-basis: 7rem;
}
div.contacto form div.formulario input.text{
    width: 100%;
}
.formulario textarea{
    width: 100%;
}
div.contacto form div.formulario select{
    width: 100%;
}
.enviar{
    background-color: #8cbc00;
    color: white;
    padding: 10px;
    width: 45%;
    border: none;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    transition: .4s ease-in;
}
.enviar:hover{
    background-color: #709601;
    transition: .4s ease-out;
}